<div
  class="dialog-container"
  style="min-width: 800px; margin: 20px 20px 20px 20px"
>
  <ng-container *ngIf="data.action === 'delete'; else addComment">
    <h2 class="dialog-title">Confirmar eliminación</h2>
    <mat-divider></mat-divider>
    <div class="dialog-content mt-3">
      <p>¿Estás seguro de eliminar este comentario?</p>
      <p class="text-muted">"{{ data.comentario?.comentario }}"</p>
    </div>
    <div
      class="dialog-actions"
      style="display: flex; justify-content: flex-end"
    >
      <button mat-button (click)="onClose()" class="me-3">Cancelar</button>
      <button
        mat-raised-button
        color="warn"
        (click)="deleteComentario(data.comentario!)"
      >
        Eliminar
      </button>
    </div>
  </ng-container>

  <ng-template #addComment>
    <h2 class="dialog-title">
      {{
        data.action === "reply" ? "Responder comentario" : "Nuevo comentario"
      }}
    </h2>
    <mat-divider></mat-divider>
    <div class="columnas align-items-center my-3">
      <div class="columnas_izquierda d-flex flex-column">
        <mat-form-field appearance="outline" class="mr-2">
          <mat-label>Caso ID</mat-label>
          <input matInput type="text" [value]="data.caso.id" disabled />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            type="text"
            [value]="today | date : 'dd/MM/yyyy HH:mm'"
            disabled
          />
        </mat-form-field>
      </div>

      <div class="columnas_derecha">
        <mat-form-field appearance="outline" style="width: 500px">
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            type="text"
            [value]="data.caso.descripcion"
            rows="4"
            disabled
          ></textarea>
        </mat-form-field>
      </div>
    </div>
    <form [formGroup]="comentarioForm" (ngSubmit)="addComentario()">
      <div class="dialog-content">
        <mat-form-field appearance="fill" class="w-100">
          <textarea
            matInput
            formControlName="comentario"
            placeholder="Escribe tu comentario..."
            rows="5"
            required
          ></textarea>
          <mat-error
            *ngIf="comentarioForm.get('comentario')?.hasError('required')"
          >
            El comentario es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div
        class="dialog-actions"
        style="display: flex; justify-content: flex-end"
      >
        <button mat-button type="button" (click)="onClose()" class="me-3">
          Cancelar
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!comentarioForm.valid"
        >
          {{ data.action === "reply" ? "Responder" : "Guardar" }}
        </button>
      </div>
    </form>
  </ng-template>
</div>
