<div class="container">
  <div class="dialog-title">
    <h2 mat-dialog-title>
      {{ isEdit ? 'Editar' + ' ' + data.entityType : 'Registrar' + ' ' + data.entityType }}
    </h2>
    <button type="button" class="btn-close" title="Cerrar ventana" (click)="onClose()"></button>
  </div>

  <form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content *ngIf="isEdit">
      <ng-container *ngIf="data.type === 'name'">
        <mat-form-field>
          <mat-label>Nombre actual</mat-label>
          <input matInput formControlName="nombre_actual" readonly/>
        </mat-form-field>
      
        <br>
      
        <mat-form-field>
          <mat-label>Nombre nuevo</mat-label>
          <input matInput formControlName="nombre" placeholder="Ingrese nuevo nombre"  />
        </mat-form-field>
      </ng-container>
      
      <ng-container *ngIf="data.type === 'price'">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input matInput [value]="data.entity.nombre" disabled />
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Precio actual</mat-label>
          <input matInput formControlName="cant_jus_actual" readonly />
        </mat-form-field>
        
        <br>
        
        <mat-form-field>
          <mat-label>Precio nuevo</mat-label>
          <input matInput formControlName="cant_jus" type="number" placeholder="Ingrese nuevo precio"/>
        </mat-form-field>
      </ng-container>    
    </mat-dialog-content>
      
    <mat-dialog-content *ngIf="!isEdit" class="common-dialog">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text" />
      </mat-form-field>

      <br>
      <mat-form-field>
        <mat-label>Fecha</mat-label>
        <input matInput [value]="currentDateTime" readonly/>
      </mat-form-field>
      <br />

      <mat-form-field>
        <mat-label>Cantidad de JUS</mat-label>
        <input matInput formControlName="cant_jus" type="number" />
      </mat-form-field>
    </mat-dialog-content>    

    <mat-dialog-actions>
      <button mat-button type="submit" [disabled]="!entityForm.valid" class="btn btn-success">
        {{ isEdit ? 'Actualizar' : 'Crear'}}
      </button>

      <button mat-button type="button" class="btn-secondary" (click)="onClose()">
        Cancelar
      </button>
    </mat-dialog-actions>
  </form>
</div>