<div class="container-fluid mt-1 mb-4">
  <div
    class="row transition-all"
    [class.justify-content-center]="!selectedSection"
  >
    <div
      class="col-md-3 transition-all"
      [class.col-md-5]="!selectedSection"
      [class.offset-md-0]="selectedSection"
      [class.offset-md-0]="!selectedSection"
    >
      <div class="card shadow-sm">
        <div class="card-header text-black text-center">
          <h2 class="mb-0">Detalles del Caso</h2>
        </div>
        <div class="card-body" *ngIf="caso">
          <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">
              <strong>Cliente:</strong> {{ caso.cliente.apellido }}
              {{ caso.cliente.nombre }}
            </li>
            <li class="list-group-item">
              <strong>Estado:</strong> {{ caso.estado }}
            </li>
            <li class="list-group-item"><strong>ID:</strong> {{ caso.id }}</li>
            <li class="list-group-item">
              <strong>Especialidad:</strong> {{ caso.especialidad.nombre }}
            </li>
            <li class="list-group-item">
              <strong>Fecha de Inicio:</strong>
              {{ caso.fecha_inicio | date : "dd/MM/yyyy" }}
            </li>
            <li class="list-group-item">
              <strong>Descripción:</strong> {{ caso.descripcion }}
            </li>
            <li class="list-group-item">
              <strong>Última Actualización:</strong>
              {{ caso.fecha_estado | date : "dd/MM/yyyy" }}
            </li>
          </ul>
        </div>

        <div class="card-header text-black text-center border-top">
          <h3 class="mb-0">Acciones</h3>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column gap-2">
            <button class="btn btn-outline-primary" (click)="showNotas()">
              Ver Notas
            </button>
            <button
              class="btn btn-outline-primary"
              (click)="showAbogados()"
              *ngIf="usuario.is_admin"
            >
              Ver Abogados
            </button>
            <button class="btn btn-outline-primary" (click)="showDocumentos()">
              Ver Documentos
            </button>
            <button
              class="btn btn-outline-primary"
              (click)="showRecordatorios()"
            >
              Ver Recordatorios
            </button>
            <button class="btn btn-outline-primary" (click)="showComentarios()">
              Ver Comentarios
            </button>
            <button
              class="btn btn-outline-primary"
              *ngIf="caso?.estado === 'Finalizado' && usuario.is_admin"
              (click)="showCuotas()"
            >
              Ver Cuotas
            </button>
            <button
              class="btn btn-outline-primary"
              (click)="solicitarInformeCaso(caso!)"
              *ngIf="usuario.is_admin"
            >
              Solicitar Informe
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 transition-all" *ngIf="selectedSection">
      <div class="mt-4 h-100">
        <app-notas-caso
          *ngIf="selectedSection === 'notas' && caso"
          [caso]="caso!"
        ></app-notas-caso>
        <app-abogados-caso
          *ngIf="selectedSection === 'abogados' && caso"
          [caso]="caso"
        ></app-abogados-caso>
        <app-documentos-list
          *ngIf="selectedSection === 'documentos' && caso"
          [caso]="caso"
        ></app-documentos-list>
        <app-recordatorios-list
          *ngIf="selectedSection === 'recordatorios' && caso"
          [caso]="caso"
        ></app-recordatorios-list>
        <app-comentarios-list
          *ngIf="selectedSection === 'comentarios' && caso"
          [caso]="caso"
        ></app-comentarios-list>
        <app-cuotas-list
          *ngIf="selectedSection === 'cuotas' && caso"
          [caso]="caso"
        ></app-cuotas-list>
      </div>
    </div>
  </div>
</div>
