<div class="container-fluid mt-4" style="max-width: 80%">
  <div class="row">
    <div class="col-md-3">
      <div class="card shadow-sm h-100">
        <div class="card-header text-black text-center">
          <h2 class="mb-0">Acciones</h2>
        </div>
        <div class="card-body" *ngIf="caso">
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showDetalles()"
          >
            Ver Detalles
          </button>
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showNotas()"
          >
            Ver Notas
          </button>
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showAbogados()"
          >
            Ver Abogados
          </button>
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showDocumentos()"
          >
            Ver Documentos
          </button>
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showRecordatorios()"
          >
            Ver Recordatorios
          </button>
          <button
            class="btn btn-outline-primary w-100 mb-2"
            (click)="showComentarios()"
          >
            Ver Comentarios
          </button>
          <button class="btn btn-outline-primary w-100" (click)="volver()">
            Volver
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-9 h-100">
      <div class="card shadow-sm h-100">
        <div class="card-body h-100 d-flex flex-column p-0">
          <ng-container [ngSwitch]="selectedSection">
            <div *ngIf="selectedSection === 'detalles' && caso" class="h-100">
              <app-detalles-caso
                [caso]="caso!"
                class="h-100 d-flex flex-column my-4"
              ></app-detalles-caso>
            </div>

            <div *ngIf="selectedSection === 'notas' && caso" class="h-100">
              <app-notas-caso
                [caso]="caso!"
                class="h-100 d-flex flex-column my-4"
              ></app-notas-caso>
            </div>

            <div *ngIf="selectedSection === 'abogados' && caso" class="h-100">
              <app-abogados-caso
                [caso]="caso"
                class="h-100 d-flex flex-column my-4"
              ></app-abogados-caso>
            </div>

            <!-- Repetir mismo patrón para los demás componentes -->
            <div *ngIf="selectedSection === 'documentos' && caso" class="h-100">
              <app-documentos-caso
                [caso]="caso"
                class="h-100 d-flex flex-column my-4"
              ></app-documentos-caso>
            </div>

            <div
              *ngIf="selectedSection === 'recordatorios' && caso"
              class="h-100"
            >
              <app-recordatorios-list
                [caso]="caso"
                class="h-100 d-flex flex-column my-4"
              ></app-recordatorios-list>
            </div>

            <div
              *ngIf="selectedSection === 'comentarios' && caso"
              class="h-100"
            >
              <app-comentarios-list
                [caso]="caso"
                class="h-100 d-flex flex-column my-4"
              ></app-comentarios-list>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
