.transition-all {
  transition: all 0.2s ease-in-out;
}

.col-md-8 {
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-fluid {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-outline-primary {
  transition: all 0.2s;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}
