.transition-all {
  transition: all 0.4s ease-in-out;
}

.col-md-8 {
  animation: fadeIn 1.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.container-fluid {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-outline-primary {
  transition: all 0.2s ease-in-out;
}

.btn-outline-primary:hover {
  background-color: #0d6efd;
  color: white;
}

.btn-outline-primary.active {
  background-color: #007bff;
  color: white !important;
  border-color: #006fe6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  transform: translateY(1px);
}

.btn-outline-primary.active:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
