<div class="container">
  <div class="card shadow-sm">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <h3 class="mb-0">Listado de Recordatorios</h3>
      <button
        class="btn btn-success shadow"
        (click)="openCreateDialog()"
        *ngIf="caso.estado === 'En curso'"
      >
        Agregar Recordatorio
      </button>
    </div>
    <div class="card-body">
      @for (recordatorio of recordatoriosCaso; track recordatorio.id) {
      <div class="mb-3">
        <mat-card appearance="outlined">
          <mat-card-header>
            <div
              class="d-flex justify-content-between align-items-center w-100"
            >
              <p class="text-muted mb-0">
                Fecha Recordatorio:
                {{ recordatorio.fecha_hora_limite | date : "dd/MM/yyyy HH:mm" }}
              </p>
              <p class="text-muted mb-0">
                Autor: {{ recordatorio.abogado.nombre }}
                {{ recordatorio.abogado.apellido }}
              </p>
            </div>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content class="mt-2">
            <p>{{ recordatorio.descripcion }}</p>
          </mat-card-content>
          <mat-card-actions class="d-flex justify-content-end">
            <button
              mat-raised-button
              color="primary"
              (click)="openEditDialog(recordatorio)"
              *ngIf="
                caso.estado === 'En curso' &&
                usuario.id === recordatorio.abogado.id &&
                !usuario.is_admin &&
                !recordatorio.vencido
              "
              class="me-2"
            >
              Editar
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="deleteRecordatorio(recordatorio)"
              *ngIf="
                caso.estado === 'En curso' &&
                usuario.id === recordatorio.abogado.id &&
                !usuario.is_admin
              "
            >
              Eliminar
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
      }
    </div>
  </div>
</div>
