<mat-card
  appearance="outlined"
  class="mb-3"
  [style.margin-left]="marginLeft"
  [style.border-left]="nivel > 0 ? '3px solid #673ab7' : ''"
>
  <mat-card-header>
    <div class="d-flex justify-content-between w-100">
      <p class="text-muted mb-0">
        {{ comentario.fecha_hora | date : "dd/MM/yyyy HH:mm" }}
      </p>
      <p class="text-muted mb-0">
        Autor: {{ comentario.abogado.nombre }} {{ comentario.abogado.apellido }}
      </p>
    </div>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content class="mt-2">
    <p>{{ comentario.comentario }}</p>
  </mat-card-content>

  <mat-card-actions class="d-flex justify-content-between">
    <div class="acciones">
      <button
        mat-raised-button
        color="warn"
        *ngIf="
          caso.estado === 'En curso' &&
          comentario.abogado.id === usuario.id &&
          comentario.sePuedeEliminar
        "
        (click)="onDelete()"
        class="me-3"
      >
        Eliminar
      </button>
      <button
        mat-raised-button
        color="primary"
        *ngIf="caso.estado === 'En curso' && validarPermisos()"
        (click)="onReply()"
      >
        Responder
      </button>
    </div>

    <div class="hilo" *ngIf="comentario.respuestas?.length">
      <button mat-raised-button color="secondary" (click)="toggleRespuestas()">
        {{ comentario.mostrarRespuestas ? "Ocultar" : "Ver" }} Respuestas ({{
          comentario.respuestas.length
        }})
      </button>
    </div>
  </mat-card-actions>

  <div
    class="respuestas-container"
    *ngIf="comentario.mostrarRespuestas && comentario.respuestas?.length"
  >
    @for(resp of comentario.respuestas; track resp.id){
    <app-comentarios-unidad
      [comentario]="resp"
      [nivel]="nivel + 1"
      [caso]="caso"
      (delete)="delete.emit($event)"
      (reply)="reply.emit($event)"
    >
    </app-comentarios-unidad>
    }
  </div>
</mat-card>
