<div class="appointment-container">
  <div class="appointment-box fade-in">
    <h2>Reservar Turno</h2>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Fecha del Turno (siempre visible) -->
      <div class="form-group">
        <label for="fechaTurno">Fecha del Turno</label>
        <input
          id="fechaTurno"
          formControlName="fechaTurno"
          type="date"
          [min]="today"
          (change)="onDateSelected($event)"
          required
          class="form-control"
        />
        @if (form.controls.fechaTurno.invalid &&
        form.controls.fechaTurno.touched) {
        <div class="error">Por favor seleccione una fecha válida</div>
        }
      </div>

      <!-- Abogado (solo visible cuando hay fecha seleccionada) -->
      @if (form.value.fechaTurno) {
      <div class="form-group fade-in-field">
        <label for="abogado">Abogado</label>
        <select
          id="abogado"
          class="form-control"
          formControlName="abogado"
          (change)="onAbogadoSelected($event)"
        >
          <option [ngValue]="null" disabled selected>
            Seleccione un abogado
          </option>
          @for (abogado of abogadosDisponibles; track abogado.id) {
          <option [ngValue]="abogado">
            {{ abogado.nombre }} {{ abogado.apellido }}
          </option>
          }
        </select>
      </div>
      }

      <!-- Horario del Turno (solo visible cuando hay abogado seleccionado) -->
      @if (form.value.abogado && form.value.fechaTurno) {
      <div class="form-group fade-in-field">
        <label for="horarioTurno">Horario del Turno</label>
        <select
          id="horarioTurno"
          class="form-control"
          formControlName="horarioTurno"
          [compareWith]="compareHorarios"
        >
          <option [ngValue]="null">Seleccione un horario</option>
          @for (horario of horariosDisponibles; track horario.id) {
          <option [ngValue]="horario">
            {{ formatHorario(horario) }}
          </option>
          }
        </select>
      </div>
      } @if(form.value.horarioTurno && form.value.fechaTurno &&
      form.value.abogado) { @if(!this.user) {
      <!-- Campos para usuarios no logueados -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          id="nombre"
          class="form-control"
          formControlName="nombre"
          placeholder="Ej: Juan"
          type="text"
        />
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          class="form-control"
          formControlName="telefono"
          placeholder="Ej: 1234567890"
          type="tel"
        />
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          formControlName="email"
          placeholder="Ej: ejemplo@email.com"
          type="email"
        />
      </div>
      } @else {
      <!-- Campos para usuarios logueados -->
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input
          id="nombre"
          class="form-control"
          formControlName="nombre"
          type="text"
          [value]="user.nombre"
          [readonly]="true"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          class="form-control"
          formControlName="email"
          type="text"
          [value]="user.email"
          [readonly]="true"
        />
      </div>
      }

      <div class="button-group">
        <button type="button" class="btn btn-outline">Cancelar</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-primary">
          Reservar Turno
        </button>
      </div>
      }
    </form>
  </div>
</div>
