<div class="container mt-4">
  <h2 class="text-center mb-4 text-black p-3 rounded">Listado de Secretarios</h2>

  <button class="btn btn-success mb-3 shadow" (click)="openCreateDialog()">Agregar Secretario</button>

  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filtrar por Nombre y Apellido" [(ngModel)]="fullNameFilter"
        (ngModelChange)="applyFilters()">
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Filtrar por Número de Documento" [(ngModel)]="nroDocFilter"
        (ngModelChange)="applyFilters()">
    </div>
  </div>

  @if (filteredSecretarios) {
  <table class="table table-hover table-bordered shadow-sm">
    <thead class="bg-success text-white">
      <tr>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Teléfono</th>
        <th>Tipo Doc</th>
        <th>Nro Doc</th>
        <th>Fecha Alta</th>
        <th>Turno Trabajo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (secretario of filteredSecretarios; track secretario.id) {
      <tr class="align-middle">
        <td>{{ secretario.nombre }} {{ secretario.apellido }}</td>
        <td>{{ secretario.email }}</td>
        <td>{{ secretario.telefono }}</td>
        <td>{{ secretario.tipo_doc }}</td>
        <td>{{ secretario.nro_doc }}</td>
        <td>{{ secretario.fecha_alta }}</td>
        <td>{{ secretario.turno_trabajo }}</td>
        <td>
          <div class="d-flex gap-2">
            <button class="btn btn-warning btn-sm shadow-sm" (click)="openEditDialog(secretario)">Editar</button>
            <button class="btn btn-danger btn-sm shadow-sm" (click)="deleteSecretario(secretario)">Eliminar</button>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>}
</div>