<div class="mb-3 mt-2">
  <h4 class="modal-title text-center">Detalles del Caso</h4>
</div>
<div class="modal-body d-flex mb-4">
  <div class="d-flex flex-column me-4 gap-2 p-3 bg-light rounded mx-5">
    <p class="text-center"><strong>Acciones</strong></p>
    <button class="btn-info" (click)="showNotas()">Ver Notas</button>
    <button class="btn-info" (click)="showAbogados()">Ver Abogados</button>
    <button class="btn-info" (click)="showDocumentos()">Ver Documentos</button>
    <button class="btn-info">Ver Cuota</button>
    <button class="btn-info">Ver Recordatorio</button>
    <button class="btn-info">Ver Comentarios</button>
    <button class="btn-info" (click)="limpiar()">Volver</button>
  </div>

  <div class="d-flex flex-column flex-grow-1 p-3 bg-light rounded mx-5">
    @if(!currentComponent) {
    <div>
      <p><strong>ID:</strong> {{ data.caso.id }}</p>
      <p>
        <strong>Cliente:</strong> {{ data.caso.cliente.apellido }}
        {{ data.caso.cliente.nombre ? data.caso.cliente.nombre : "" }}
        <button class="ms-2 btn-info" (click)="showCliente()">
          Ver Cliente
        </button>
      </p>
      <p><strong>Especialidad:</strong> {{ data.caso.especialidad.nombre }}</p>
      <p><strong>Fecha de Inicio:</strong> {{ data.caso.fecha_inicio }}</p>
    </div>
    <div>
      <p><strong>Descripción:</strong> {{ data.caso.descripcion }}</p>
      <p><strong>Estado:</strong> {{ data.caso.estado }}</p>
      <p><strong>Última Actualización:</strong> {{ data.caso.fecha_estado }}</p>
    </div>
    } @if(currentComponent) {
    <div [ngSwitch]="currentComponent">
      <app-notas-caso
        *ngSwitchCase="'notas'"
        [caso]="data.caso"
      ></app-notas-caso>
      <app-abogados-caso
        *ngSwitchCase="'abogados'"
        [caso]="data.caso"
      ></app-abogados-caso>
      <app-documentos-caso *ngSwitchCase="'documentos'"></app-documentos-caso>
      <app-cliente-caso
        *ngSwitchCase="'cliente'"
        [cliente]="data.caso.cliente"
      ></app-cliente-caso>
    </div>
    }
  </div>
</div>
