<div class="container">
    <header class="bg-light py-3 my-4 border-bottom">
        <div class="container text-center">
          <h1 class="mb-2">Bienvenido al Blog de nuestro Estudio Jurídico</h1>
          <p class="lead mb-0">Explora las últimas noticias y artículos de interés, actualizados nuestros profesionales.</p>
        </div>
    </header>
      
  
    <div *ngIf="noticias && noticias.length > 0; else noNoticias">
      <div class="row">
          <div *ngFor="let noticia of noticias" class="col-12 col-md-4 mb-3">
            <article class="news-card w-100 h-100">
              <div class="content d-flex flex-column h-100">
                <h2>{{ noticia.titulo }}</h2>
                <p class="meta">{{ noticia.fecha_publicacion }}</p>
                <p class="excerpt">{{ noticia.cuerpo }}</p>
                <a [routerLink]="['/noticias-detalle', noticia.id]" class="btn btn-primary w-100 mt-auto">Leer noticia</a>
              </div>
            </article>
          </div>
        </div>
      </div>
  
    <ng-template #noNoticias>
      <p class="text-center">No hay noticias recientes.</p>
    </ng-template>
  </div>
  