<div class="container mt-4">
  <h2 class="text-center mb-4 text-black p-3 rounded">
    Listado de Actividades
  </h2>

  <div class="d-flex gap-3 mb-3">
    <button class="btn btn-success shadow" (click)="openCreateDialog()">
      Agregar Actividad
    </button>
    <button class="btn btn-primary shadow" (click)="openJusDialog()">
      Actualizar precio JUS
    </button>
  </div>

  <div class="row mb-3">
    <div class="col-md-4 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Nombre"
        name="nombreFilter"
        id="nombreFilter"
        [(ngModel)]="nombreFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>

    <div class="col-md-4 mb-2">
      <input
        type="number"
        class="form-control"
        placeholder="Cantidad mínima de JUS"
        name="jusMinFilter"
        id="jusMinFilter"
        [(ngModel)]="jusMinFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>

    <div class="col-md-4 mb-2">
      <input
        type="number"
        class="form-control"
        placeholder="Cantidad máxima de JUS"
        name="jusMaxFilter"
        id="jusMaxFilter"
        [(ngModel)]="jusMaxFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>
  </div>

  @if (filteredActividades == null || filteredActividades.length > 0) {
  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="bg-success text-white">
        <tr>
          <th>Nombre</th>
          <th>Última actualización</th>
          <th>Cantidad de JUS</th>
          <th>Precio (JUS)</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        @for (act of filteredActividades; track act.id) {
        <tr class="align-middle">
          <td>{{ act.nombre }}</td>
          <td>{{ act.fecha_hora_desde | date : "dd/MM/yyyy, h:mm a" }}</td>
          <td>{{ act.cant_jus.toLocaleString("es-ES") }}</td>
          <td>${{ act.precio_pesos?.toLocaleString("es-ES") }}</td>
          <td>
            <div class="d-flex justify-content-start gap-2 flex-wrap">
              <button
                class="btn btn-warning btn-sm shadow-sm mt-1"
                (click)="openEditDialog(act, 'name')"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm shadow-sm mt-1"
                (click)="deleteActividad(act)"
              >
                Eliminar
              </button>
              <button
                class="btn btn-sm shadow-sm mt-1"
                style="background-color: cornflowerblue"
                (click)="openEditDialog(act, 'price')"
              >
                Actualizar precio
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="alert alert-info text-center" role="alert">
    No hay actividades para mostrar.
  </div>
  }
</div>
