<div class="container mt-4">
  <h2 class="text-center mb-4 text-black p-3 rounded">
    Listado de Actividades Realizadas
  </h2>

  <button class="btn btn-success mb-3 me-3 shadow" (click)="onCreate()">
    Registrar Actividad
  </button>

  <div class="row mb-3">
    <div class="col-md-4 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Actividad"
        name="actividadFilter"
        id="actividadFilter"
        [(ngModel)]="actividadFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>

    <div class="col-md-4 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Cliente"
        name="clienteFilter"
        id="clienteFilter"
        [(ngModel)]="clienteFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>
  </div>
  @if(filteredActividadesRealizadas.length > 0) {
  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="bg-primary text-white">
        <tr>
          <th>Actividad</th>
          <th>Cliente</th>
          <th>Fecha de realización</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (ar of filteredActividadesRealizadas; track ar.id) {
        <tr class="align-middle">
          <td>{{ ar.actividad.nombre }}</td>
          <td>{{ ar.cliente.nombre }} {{ ar.cliente.apellido }}</td>
          <td>{{ ar.fecha_hora | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>
            <div class="d-flex justify-content-start gap-2 flex-wrap">
              <button
                class="btn btn-warning btn-sm shadow-sm"
                (click)="onUpdate(ar)"
              >
                Editar
              </button>
              <button
                class="btn btn-danger btn-sm shadow-sm"
                (click)="onDelete(ar)"
              >
                Eliminar
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="alert alert-info text-center" role="alert">
    No hay actividades realizadas para mostrar.
  </div>
  }
</div>
