<div class="dialog-container">
  <div class="dialog-box fade-in">
    <h2 class="dialog-title">Editar Perfil</h2>

    <form [formGroup]="profileForm" class="dialog-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="profileForm.get('email')?.hasError('required')">
          Email es requerido
        </mat-error>
        <mat-error *ngIf="profileForm.get('email')?.hasError('email')">
          Ingrese un email válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="telefono" type="tel" />
        <mat-error *ngIf="profileForm.get('telefono')?.hasError('required')"
          >Teléfono es requerido</mat-error
        >
        <mat-error *ngIf="profileForm.get('telefono')?.hasError('maxlength')">
          El teléfono no puede tener más de 20 caracteres
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="currentPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="profileForm.get('currentPassword')?.hasError('required')"
          >La contraseña es requerida para editar los datos</mat-error
        >
        <mat-hint>Requerido para cambiar datos</mat-hint>
      </mat-form-field>

      <h3 class="password-title">Cambiar contraseña</h3>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="newPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="profileForm.get('newPassword')?.hasError('minlength')"
        >
          Longitud mínima de 4 caracteres
        </mat-error>

        <mat-error
          *ngIf="profileForm.get('newPassword')?.hasError('minlength')"
        >
          La contraseña debe tener al menos 4 caracteres
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="confirmPassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-error *ngIf="shouldShowPasswordErrors()" class="password-error">
        {{ getPasswordErrorMessage() }}
      </mat-error>

      <div class="dialog-actions">
        <button mat-button type="button" (click)="onCancel()">Cancelar</button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit()"
          [disabled]="profileForm.invalid"
        >
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>
