<div *ngIf="caso.abogados_activos" class="container-fluid">
  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Listado de Comentarios</h3>
        <button
          class="btn btn-success shadow"
          (click)="openCreateDialog('create')"
          *ngIf="caso.estado === 'En curso' && validarPermisos()"
        >
          Agregar Comentario
        </button>
      </div>
    </div>
    <div class="card-body">
      @if (comentariosCaso.length > 0) { @for (comentario of comentariosCaso;
      track comentario.id) {
      <div class="mb-3">
        <app-comentarios-unidad
          [comentario]="comentario"
          [nivel]="0"
          (delete)="openDeleteDialog($event)"
          (reply)="openCreateDialog('reply', $event)"
          [caso]="caso"
        ></app-comentarios-unidad>
      </div>
      } } @else {
      <div class="alert alert-info" role="alert">
        No hay comentarios disponibles para este caso.
      </div>
      }
    </div>
  </div>
</div>
