<div class="container mt-4">
  <h2 class="text-center mb-4 text-black p-3 rounded">Listado de Casos</h2>

  <button
    class="btn btn-success mb-3 me-3 shadow"
    (click)="openCreateDialog()"
    *ngIf="this.usuario.tipo_usuario !== 'cliente'"
  >
    Agregar Caso
  </button>
  <button
    class="btn btn-success mb-3 me-3 shadow"
    (click)="openInformeIngresosDialog()"
    *ngIf="is_admin"
  >
    Solicitar Informe de Ingresos
  </button>

  <div class="row mb-3">
    <div *ngIf="usuario.tipo_usuario !== 'cliente'" class="col-md-3 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Cliente"
        [(ngModel)]="clienteFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>

    <div class="col-md-3 mb-2">
      <select
        class="form-control"
        [(ngModel)]="estadoFilter"
        (ngModelChange)="applyFilters()"
      >
        <option value="">Filtrar por Estado</option>
        <option value="En curso">En curso</option>
        <option value="Finalizado">Finalizado</option>
        <option value="Cancelado">Cancelado</option>
      </select>
    </div>

    <div class="col-md-3 mb-2">
      <select
        class="form-control"
        [(ngModel)]="especialidadFilter"
        (ngModelChange)="applyFilters()"
      >
        <option value="">Filtrar por Especialidad</option>
        <option value="civil y comercial">Civil y Comercial</option>
        <option value="laboral">Laboral</option>
        <option value="familiar">Familiar</option>
        <option value="penal">Penal</option>
        <option value="otro">Otro</option>
      </select>
    </div>

    <div class="col-md-3 mb-2">
      <input
        type="text"
        class="form-control"
        placeholder="Filtrar por Descripción"
        [(ngModel)]="descripcionFilter"
        (ngModelChange)="applyFilters()"
      />
    </div>
  </div>

  @if (filteredCasos && filteredCasos.length > 0) {
  <div class="table-responsive">
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="bg-success text-white">
        <tr>
          <th *ngIf="this.usuario.tipo_usuario !== 'cliente'">ID</th>
          <th *ngIf="this.usuario.tipo_usuario !== 'cliente'">Cliente</th>
          <th *ngIf="this.usuario.tipo_usuario === 'cliente'">Abogado</th>
          <th>Especialidad</th>
          <th>Fecha de Inicio</th>
          <th>Descripción</th>
          <th>Estado</th>
          <th>Última Actualización</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (caso of filteredCasos; track caso.id) {
        <tr
          class="align-middle clickable-row"
          [style.cursor]="
            usuario.tipo_usuario !== 'cliente' ? 'pointer' : 'default'
          "
          (click)="
            this.usuario.tipo_usuario !== 'cliente' ? showDetails(caso) : null
          "
        >
          <td *ngIf="this.usuario.tipo_usuario !== 'cliente'">{{ caso.id }}</td>
          <td *ngIf="this.usuario.tipo_usuario !== 'cliente'">
            {{
              caso.cliente.es_empresa
                ? caso.cliente.nombre
                : caso.cliente.apellido + " " + caso.cliente.nombre
            }}
          </td>
          <td *ngIf="this.usuario.tipo_usuario === 'cliente'">
            {{
              caso.abogado_principal.nombre +
                " " +
                caso.abogado_principal.apellido
            }}
          </td>
          <td>{{ caso.especialidad.nombre }}</td>
          <td>{{ caso.fecha_inicio }}</td>
          <td>{{ caso.descripcion }}</td>
          <td>{{ caso.estado }}</td>
          <td>{{ caso.fecha_estado }}</td>
          <td>
            <div class="d-flex justify-content-start gap-2 flex-wrap">
              <ng-container *ngIf="usuario.tipo_usuario !== 'cliente'">
                <div
                  *ngIf="caso.estado === 'Finalizado' && usuario.is_admin"
                  class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center"
                >
                  <button
                    class="btn btn-primary btn-sm mb-2 mb-sm-0 me-sm-3"
                    (click)="verCuotas(caso)"
                  >
                    Ver Cuotas
                  </button>
                  <p class="mb-0 text-danger" *ngIf="caso.deuda_jus > 0">
                    Adeuda <span class="fw-bold">{{ caso.deuda_jus }}</span> JUS
                  </p>
                  <p class="mb-0 text-success" *ngIf="!caso.deuda_jus">
                    No adeuda cuotas
                  </p>
                </div>

                <button
                  class="btn btn-warning btn-sm shadow-sm mt-1"
                  (click)="$event.stopPropagation(); openEditDialog(caso)"
                  *ngIf="
                    caso.estado !== 'Finalizado' &&
                    caso.estado !== 'Cancelado' &&
                    validarAdminPrincipal(caso)
                  "
                >
                  Editar
                </button>
                <button
                  class="btn btn-secondary btn-sm shadow-sm mt-1"
                  (click)="$event.stopPropagation(); openEndDialog(caso)"
                  *ngIf="
                    caso.estado !== 'Finalizado' &&
                    caso.estado !== 'Cancelado' &&
                    validarAdminPrincipal(caso)
                  "
                >
                  Finalizar
                </button>
                <button
                  class="btn btn-danger btn-sm shadow-sm mt-1"
                  (click)="$event.stopPropagation(); openDeleteDialog(caso)"
                  *ngIf="
                    caso.estado !== 'Finalizado' &&
                    caso.estado !== 'Cancelado' &&
                    validarAdminPrincipal(caso)
                  "
                >
                  Eliminar
                </button>
                <p
                  *ngIf="!validarAdminPrincipal(caso)"
                  class="text-danger d-flex align-items-center"
                >
                  No puedes realizar ninguna acción
                </p>
              </ng-container>
              <button
                class="btn btn-primary shadow-sm mt-1"
                (click)="solicitarInformeCaso(caso!)"
                *ngIf="usuario.tipo_usuario === 'cliente'"
              >
                Solicitar Informe
              </button>

              <button
                *ngIf="
                  usuario.tipo_usuario === 'cliente' &&
                  caso.estado === 'Finalizado'
                "
                class="btn btn-warning btn-sm shadow-sm mt-1"
                (click)="$event.stopPropagation(); openFeedbackDialog(caso.id)"
                [disabled]="caso.estado !== 'Finalizado'"
              >
                Feedback
              </button>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
  } @else {
  <div class="alert alert-info text-center" role="alert">
    No hay casos que coincidan con los filtros aplicados.
  </div>
  }
</div>
