<div class="container">
  <div class="card shadow-sm border">
    <!-- Card Header Mejorado -->
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <h3 class="mb-0">Listado de Notas</h3>
      <button
        class="btn btn-success shadow"
        (click)="openCreateDialog()"
        [disabled]="caso.estado !== 'En curso'"
      >
        Agregar Nota
      </button>
    </div>
    <div class="card-body">
      <!-- Contenedor grid: 1 nota por fila en móviles y 2 por fila en dispositivos medianos -->
      <div class="row row-cols-1 row-cols-md-2 g-4">
        @for (nota of notasCaso; track nota.id) {
        <div class="col">
          <mat-card appearance="outlined" class="h-100 border">
            <mat-card-header class="d-flex justify-content-between">
              <mat-card-title class="fw-bold">
                {{ nota.titulo }}
              </mat-card-title>
              <p class="text-muted">
                Autor: {{ nota.abogado.nombre }} {{ nota.abogado.apellido }}
              </p>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-card-content class="mt-2">
              <p>{{ nota.descripcion }}</p>
            </mat-card-content>
            <mat-card-actions
              class="d-flex justify-content-between align-items-center"
            >
              <div class="acciones">
                <button
                  mat-raised-button
                  class="m-1"
                  color="primary"
                  (click)="openEditDialog(nota)"
                  [disabled]="caso.estado !== 'En curso'"
                >
                  Editar
                </button>
                <button
                  mat-raised-button
                  class="m-1"
                  color="warn"
                  (click)="deleteNota(nota)"
                  [disabled]="caso.estado !== 'En curso'"
                >
                  Eliminar
                </button>
              </div>
              <p class="text-muted m-0">
                {{ nota.fecha_hora | date : "dd/MM/yyyy HH:mm" }}
              </p>
            </mat-card-actions>
          </mat-card>
        </div>
        }
      </div>
    </div>
  </div>
</div>
