<div class="container">
  <div class="card shadow-sm">
    <div class="card-header text-white bg-primary">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mb-0">Listado de Notas</h3>
        <button
          class="btn btn-success shadow"
          (click)="openCreateDialog()"
          *ngIf="caso.estado === 'En curso'"
        >
          Agregar Nota
        </button>
      </div>
    </div>

    <div class="card-body">
      @if (notasCaso.length > 0) {
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @for (nota of notasCaso; track nota.id) {
        <div class="col">
          <div class="card h-100 shadow-sm">
            <div class="card-header d-flex flex-column">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title fw-bold mb-0">{{ nota.titulo }}</h5>
                <small class="text-muted">
                  {{ nota.fecha_hora | date : "dd/MM/yyyy HH:mm" }}
                </small>
              </div>
              <small class="text-muted mt-1">
                Autor: {{ nota.abogado.nombre }} {{ nota.abogado.apellido }}
              </small>
            </div>

            <div class="card-body">
              <p class="card-text">{{ nota.descripcion }}</p>
            </div>

            <div class="card-footer bg-transparent">
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  @if (caso.estado === 'En curso' && usuario.id ===
                  nota.abogado.id && nota.sePuedeEliminar) {
                  <button
                    mat-raised-button
                    class="me-2"
                    color="primary"
                    (click)="openEditDialog(nota)"
                  >
                    Editar
                  </button>
                  <button
                    mat-raised-button
                    color="warn"
                    (click)="deleteNota(nota)"
                  >
                    Eliminar
                  </button>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        }
      </div>
      } @else {
      <div class="alert alert-info mt-4 text-center">
        <p class="mb-0">No se encontraron notas registradas</p>
      </div>
      }
    </div>
  </div>
</div>
