<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">Sistema Jurídico</a>

    <!-- Botón para móviles -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMobileMenu()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenido del navbar -->
    <div
      class="navbar-collapse"
      [class.show]="mobileMenuOpen"
      id="navbarContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Menú para usuarios no autenticados -->
        @if(userSignal() === null){
        <li class="nav-item">
          <a class="nav-link animated-link" href="/" (click)="closeMobileMenu()"
            >Iniciar Sesión</a
          >
        </li>
        }

        <!-- Menú para administradores -->
        @if(esAdmin()){
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/abogados-list"
            (click)="closeMobileMenu()"
            >Abogados</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/clientes-list"
            (click)="closeMobileMenu()"
            >Clientes</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/secretarios-list"
            (click)="closeMobileMenu()"
            >Secretarios</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/actividades-list"
            (click)="closeMobileMenu()"
            >Actividades</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/noticias-list"
            (click)="closeMobileMenu()"
            >Crear noticia</a
          >
        </li>
        }

        <!-- Menú común para abogados, secretarios y admin -->
        @if(esAbogado() || esSecretario() || esAdmin()){
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/casos-list"
            (click)="closeMobileMenu()"
            >Casos</a
          >
        </li>
        }

        <!-- Menú específico para abogados -->
        @if(esAbogado()){
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/mis-actividades"
            (click)="closeMobileMenu()"
            >Mis Actividades</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/horarios-turnos"
            (click)="closeMobileMenu()"
            >Horarios de turnos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/mis-turnos"
            (click)="closeMobileMenu()"
            >Turnos</a
          >
        </li>
        }

        <!-- Menú para clientes -->
        @if(esCliente()){
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/casos-list"
            (click)="closeMobileMenu()"
            >Mis Casos</a
          >
        </li>
        }

        <!-- Menú para usuarios no abogados/admin/secretarios -->
        @if(!esAbogado() && !esAdmin() && !esSecretario()){
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/obtener-turnos"
            (click)="closeMobileMenu()"
            >Obtener turno abogado</a
          >
        </li>
        }

        <!-- Menú común a todos -->
        <li class="nav-item">
          <a
            class="nav-link animated-link"
            href="/noticias-blog"
            (click)="closeMobileMenu()"
            >Noticias Blog</a
          >
        </li>
      </ul>

      <!-- Menú de usuario -->
      @if(userSignal() !== null){
      <div class="user-menu">
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          class="text-black fw-light"
        >
          {{
            userSignal()?.nombre +
              " " +
              (userSignal()?.apellido ? userSignal()?.apellido : "")
          }}
        </button>
        <mat-menu class="user-option" #menu="matMenu">
          <button mat-menu-item (click)="closeMobileMenu()">
            <a class="nav-link" href="/home">Mi Perfil</a>
          </button>
          <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
        </mat-menu>
      </div>
      }
    </div>
  </div>
</nav>
