<!-- NAVBAR HTML -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema Jurídico</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link animated-link" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/abogados-list">Abogados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/clientes-list">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/secretarios-list"
            >Secretarios</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/casos-list">Casos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/actividades-list"
            >Actividades</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/noticias-blog">Noticias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/horarios-turnos">Horarios turnos</a>
        </li>
        <li>
          <a class="nav-link animated-link" href="/obtener-turnos"
            >Obtener turno abogado</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link animated-link" href="/noticias-list"
            >Crear noticia</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .animated-link {
    position: relative;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .animated-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #007bff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
  }

  .animated-link:hover::after,
  .animated-link.active::after {
    transform: scaleX(1);
  }

  .animated-link:hover {
    color: #007bff;
  }
</style>
