<div class="border-dark rounded-3 shadow-lg text-center p-5">
  <h2 class="fw-bold mb-4">
    ¿Estás seguro de que quieres eliminar {{ data.femenino ? "esta" : "este" }}
    {{ data.entidad }}?
  </h2>

  <div class="lead mb-4">
    {{ data.entidad.charAt(0).toUpperCase() + data.entidad.slice(1) }}:
    <div class="overflow-y-auto" style="max-height: 150px; overflow-x: hidden">
      <p
        class="text-primary"
        style="white-space: normal; word-wrap: break-word; width: 100%"
      >
        {{ data.nombreCompleto }}
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center gap-4 mt-4">
    <button
      class="btn btn-lg btn-outline-secondary px-4 py-2"
      (click)="onCancel()"
    >
      Cancelar
    </button>
    <button class="btn btn-lg btn-danger px-4 py-2" (click)="onConfirm()">
      Eliminar
    </button>
  </div>
</div>
